* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 24px;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#times {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px;
}

#times:after {
  content: "";
  display: block;
}
footer, #times:after {
  height: 100px;
}
footer {
  background: rgb(233, 230, 225);
  padding: 30px 0;
  text-align: left;
  font-size: 90%;
}

footer p, footer span {
  font-size: 80%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

span.spacer {
  padding: 0 5px;
}

footer a {
  font-size: 100%;
/*   color: rgb(77, 71, 243); */
}

li {
  line-height: 48px;
  margin-bottom: 32px;
}

strong {
  font-weight: 600;
  margin-top: 40px;
  line-height: 20px;
  padding-top: 10px;
}

strong small {
  font-size: 80%;
}

/*strong:after {
  content: ' - ';
}
*/
@media screen and (max-width: 400px) {
  strong {
    display: block;
  }

  strong:after {
    content: none;
  }

  li {
    margin-bottom: 20px;
  }

  span.route {
    margin-top: 0px;
  }
}

body {
  background: white;
  color: #212121;
  margin: 0;
  /* padding-top: 60px; */
}

ul {
  padding: 0;
  list-style: none;
}

body > p, h1, h2, ul {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

body > p {
  line-height: 32px;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 28px;
  margin-top: 48px;
}

p {
  line-height: 24px;
  max-width: 100%;
  font-size: 90%;
  line-height: 20px;
}

p:first-of-type {
  margin-top: 10px;
}

a {
  color: #0074D9;
}

em {
  font-weight: 400;
}

.footer {
  padding: 40px 0;
  background: #efefef;
  margin: 0;
  margin-top: 40px;
  max-width: 100%;
}

.footer p {
  text-align: left;
}

.route {
  background: #FF5B52;
  display: inline-block;
  border-radius: 100px;
  text-align: center;
  color: #fff;
  font-size: 80%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  float: left;
  margin-top: 5px;
}

div {
  margin-left: 50px;
}

.destination {
  display: block;
}

.label--checkbox {
  position: relative;
  display: block;
  margin: .5rem;

  font-family: Arial, sans-serif;
  line-height: 135%;

  cursor: pointer;
}

.checkbox {
  position: relative;
  top: -0.375rem;
  margin: 0 1rem 0 0;
  cursor: pointer;
}
.checkbox:before {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 2px solid rgb(177, 177, 177);
}
.checkbox:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: .5rem;
  border-color: #009688;
  border-top-style: none;
  border-right-style: none;
}
.checkbox:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  background: #fff;
  cursor: pointer;
}
